*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
#bk{
    width: 100%;
    min-width: 962px;
}
/*nav section*/
#nav{
    width: 962px;
    margin: 0 auto;
}
/*top1 section*/
.nav_nav{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(249,249,249)));
    border-radius: 0 0 6px 6px;
    position: relative;
}

.nav_nav .nav_nav_span{
    font-size: 12px;
    color: rgb(102,102,102);
    position: absolute;
    left: 18px;
    top: 0px;
}
.nav_nav ul{
    height: 30px;
    position: absolute;
    top: -2px;
    left: 84px;
}
.nav_nav ul li{
    float: left;
}
.nav_nav ul li a{
    text-align: center;
    color: #999;
    display: inline-block;
    border: 1px solid black;
    font-size: 12px;
    width: 38px;
    height: 18px;
    line-height: 20px;
    border: 1px solid #eee;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-radius: 4px;
    margin-right: 5px;
}
.nav_nav a:hover {
    color: rgb(211,7,3);
}
.nav_right{
    position: absolute;
    height: 14px;
    line-height: 14px;
    /*border: 1px solid black;*/
    right: 32px;
    top: 6px;
}
.nav_right a{
    display: inline-block;
    text-indent: 22px;
    height: 14px;
    line-height: 14px;
    color: black;
    font-size: 12px;
    margin-left: 5px;
    color: rgb(102,102,102);
    /*background: url(../imgs/nav_right.png) no-repeat;*/
}
.nav_right .nav_right_one{
    background: url(../imgs/nav_right.png) no-repeat;
}
.nav_right .nav_right_two{
    background: url(../imgs/nav_right.png) 0 -14px no-repeat;
}
.nav_right .nav_right_span{
    font-size: 12px;
    color: #bbb;
    margin-left: 5px;
}
/*top2 section*/
.nav_center{
    /*width: 100%;*/
    height: 70px;
    font-size: 12px;
    /*margin:  0 auto;*/
    margin-top: 8px;
    margin-left: 5px;
}
.nav_center_left{
    float: left;
}
.nav_center_center{
    float: left;
    margin-left: 28px;
}
.nav_center_right{
    float: left;
    margin-left: 22px;
}
.nav_center_left a, .nav_center_right a  {
    text-align: center;
    display: inline-block;
    width: 66px;
    color: black;
    margin-right: -5px;
    /*height: 68px;*/
}
.nav_center a:hover{
    color: rgb(211,7,3);
    /*background: url(../imgs/nav_10.png) center -20px no-repeat;*/
}
.nav_bottom{
    height: 126px;
    position: relative;
    margin-top: 24px;
}
.bottom_bg{
    position: absolute;
    width: 960px;
    height: 114px;
    border: 1px solid rgb(219,219,219);
    border-radius: 10px;
    z-index: 0;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(245,245,245)));
}
.nav_bottom_top{
    width: 408px;
    height: 30px;
    position: absolute;
    left: 228px;
    top: -12px;
    z-index: 1;
}
.nav_bottom_top a{
    float: left;
    width: 78px;
    height: 28px;
    text-align: center;
    font-size: 12px;
    color: black;
    border: 1px solid rgb(248,208,191);
    border-bottom: 0;
    line-height: 28px;
    border-radius:10px 10px 0 0;
    margin-right: 1px;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(254,254,254)), to(rgb(246,246,246)));
}
.nav_bottom_top a.active{
    color: white;
    font-weight: bold;
    background: rgb(226,28,1);
    border: 1px solid rgb(196,13,14);
    /*border-bottom: 0;*/
    border-bottom: 1px solid rgb(226,28,1);
}
.nav_bottom_center{
    height: 64px;
    width: 958px;
    background: rgb(226,28,1);
    border: 1px solid rgb(196,13,14);
    border-radius: 10px;
    position: absolute;
    top: 17px;
    line-height: 61px;
}
.nav_text{
    width: 396px;
    height: 22px;
    border-radius: 6px;
    color:rgb(234,122,122);
    margin-left: 226px;
    border: 0px;
    font-size: 12px;
    padding-left: 10px;
    /*line-height: 22px;*/
}
.nav_text::-webkit-input-placeholder{
    color:rgb(234,122,122);
}
.nav_btn{
    width: 61px;
    height: 22px;
    /*font-weight: bold;*/
    background: white;
    border-radius: 10px;
    border: 0px;
    background: url(../imgs/nav_13.png);
    box-shadow: 2px 2px rgb(171,9,0);
    position: absolute;
    top: 21px;
    right: 254px;
}
.nav_bottom_right{
    width: 208px;
    height: 34px;
    line-height: 20px;
    display: inline-block;
    color: white;
    font-size: 12px;
    position: absolute;
    right:24px;
    top: 11px;
}
.nav_bottom_right a{
    height: 12px;
    color: white;
    font-size: 12px;
}
/*top3 section*/
.nav_bottom_bottom{
    position: absolute;
    top: 90px;
    left: 228px;
    font-size: 12px;
    height: 32px;
    /*line-height: 32px;*/
    /*vertical-align: middle;*/
}
.nav_bottom_bottom_left{
    /*height: 30px;*/
    /*border: 1px solid white;*/
    line-height: 17px;
}
.span_one{
    float: left;
    display: inline-block;
    width: 50px;
    height: 13px;
    background: url(../imgs/nav_14.png) no-repeat;
    margin-top: 2px;
}
.span_two{
    color: rgb(211,7,3);
    margin-left: 10px;
    cursor: pointer;
}
.span_two:hover{
    color: black;
}
.span_three{
    color: rgb(153,153,153);
}
.span_four{
    cursor: pointer;
}
.span_four:hover{
    text-decoration: underline;
}
.up_down{
    display: inline-block;
    width: 7px;
    line-height: 6px;
    float: right;
    margin-top: -16px;
    margin-right: -52px;
}
.a_up{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url(../imgs/nav_15.png);
}
.a_down{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url(../imgs/nav_15.png) center -9px;
}
.tip{
    position: absolute;
    z-index: 10;
    top: -2px;
    left: 32px;
}
/*main section*/
#main{
    width: 962px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    margin-top: 0px;
}
#main::after{
    content: "";
    display: block;
    clear: both;
}
/*main_left section*/
.main_left{
    width: 710px;
    float: left;
}
/*one*/
.main_left_one{
    width: 348px;
    height: 418px;
    border: 1px solid rgb(219,219,219);
    float: left;
    border-radius: 10px;
}
.one_header{
    margin-top: 10px;
    margin-bottom: 10px;
}
.one_header img{
    cursor: pointer;
}
.one_center img{
    margin-left: 14px;
    cursor: pointer;
}
.one_footer{
    height: 64px;
    line-height: 26px;
    margin-top: 6px;
    margin-left: 18px;
}
.one_p{
    display: inline-block;
    width: 226px;
    margin-top: 5px;
    float: right;
    margin-right: 20px;
}
.one_p p{
    font-size: 12px;
    color: rgb(77,77,77);
    margin-bottom: -6px;
    cursor: pointer;
}
.one_p p:hover{
    text-decoration: underline;
}
.one_p p:first-child{
    margin-top: -10px;
}
.one_p span{
    display: inline-block;
    width: 2px;
    height: 3px;
    background: rgb(217,0,0);
    margin-right: 3px;
    /*margin-top: -30px;*/
    margin-bottom:2px;
}
/*two*/
.main_left_two{
    width: 350px;
    height: 420px;
    float: left;
    margin-left: 10px;
    position: relative;
}
.two_header{
    position: absolute;
    z-index: 1;
}
.two_header a{
    /*font-size: 12px;
    font-weight: bold;*/
    display: inline-block;
    width: 172px;
    height: 33px;
    line-height: 33px;
    border: 1px solid rgb(219,219,219);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(254,254,254)), to(rgb(244,244,244)));
    /*margin-left: 22px;*/
    text-align: center;
}
.two_span1{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url(../imgs/nav_15.png.) center -9px;
    margin-left: 5px;
    margin-bottom: 6px;
}
.two_span2{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url(../imgs/two_2.png);
    margin-left: 5px;
    margin-bottom: 6px;
}
.two_header .active1{
    border-bottom: 1px solid white;
    background: white;
}
.two_center{
    width: 348px;
    height: 384px;
    border: 1px solid rgb(219,219,219);
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 34px;
    z-index: 0;
}
.two_pic{
    width: 320px;
    height: 108px;
    background: url(../imgs/two_4.png) right center no-repeat;
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    /*margin-left: 10px;*/
    cursor: pointer;
}
.two_pic:hover{
    /*background: green;*/
    background: orange;
    /*color: white;*/
}
.two_pic img{
    position: absolute;
    left: 5px;
    top: 11px;
    border: 1px solid rgb(219,219,219);
    z-index: 0;
}
.two_hot{
    width: 43px;
    height: 44px;
    position: absolute;
    background: url(../imgs/two_5.png) right center no-repeat;
    right: 0;
}
.two_text{
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 17px;
    left: 134px;
}
.two_text .p_title{
    color: rgb(211,7,3);
    margin-bottom: 12px;
}
.two_text p{
    color: rgb(110,110,110);
    margin-bottom: 3px;
}
.cheap{
    width: 40px;
    height: 40px;
    background: url(../imgs/two_3.png);
    display: inline-block;
    position: absolute;
    top: 65px;
    left: 80px;
    /*z-index: 1;*/
}
.two_more a{
    display: inline-block;
    width: 37px;
    height: 13px;
    background: url(../imgs/two_8.png);
    margin-left: 296px;
    margin-top: 10px;
}
/*three*/
.main_left_three{
    width: 100%;
    height: 90px;
    float: left;
    background: url(../imgs/three_1.png);
    margin-top: 10px;
    cursor: pointer;
}
.main_left_three:hover{
    width: 706px;
    height: 86px;
    border: 2px solid black;
    border-radius: 10px;
    background: url(../imgs/three_1.png) -2px -2px;
}
/*four*/
.main_left_four{
    width: 348px;
    height: 498px;
    float: left;
    border: 1px solid rgb(219,219,219);
    margin-top: 10px;
    border-radius: 10px;
}
.four_center{
    width: 304px;
    height: 85px;
    margin: 0 auto;
    margin-top: 12px;
    cursor: pointer;
}
.four_center img{}
.four_right{
    display: inline-block;
    font-size: 12px;
    width: 204px;
    color: rgb(153,153,153);
}
.four_right p{
    line-height: 20px;
}
.four_footer{
    width: 300px;
    height: 284px;
    margin:  0 auto;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    position: relative;
}
.four_footer thead{
    width: 300px;
    height: 32px;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(247,247,247)), to(rgb(255,255,255)));
    font-family: "微软雅黑";
    line-height: 32px;
    /*font-size: 14px;*/
}
.four_footer th{
    width: 40px;
}
.four_footer td{
    font-family: "微软雅黑";
    color: rgb(102,102,102);
    background: rgb(237,237,237);
    cursor: pointer;
}
.four_footer .sp{
    color: rgb(210,210,210);
    background: rgb(248,248,248);
}
.four_footer td:hover{
    background: url(../imgs/four_7.jpg) 1px -1px;
}
.four_footer .active_4:hover{
    background: url(../imgs/four_8.jpg) 1px 0px;
}
.table_pic{
    background: url(../imgs/four_4.png);
    width: 327px;
    height: 108px;
    /*display: block;*/
    display: none;
    position: absolute;
    left: 210px;
    top: 120px;
    z-index: 99;
    cursor: pointer;
    box-shadow: 2px 2px rgb(153,153,153);
}
.table_pic_dis{
    /*display: none;*/
    /*display: inline-block;*/
    /*display: block;*/
}
/*five*/
.main_left_five{
    width: 348px;
    height: 498px;
    float: left;
    border: 1px solid rgb(219,219,219);
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.five_header{
    margin-left: 25px;
    margin-top: 12px;
}
.five_center{
    width: 318px;
    height: 180px;
    border-radius: 10px;
    background: rgb(248,248,248);
    margin: 0 auto;
    font-size: 12px;
}
.five_center>div>img{
    display: inline-block;
    margin-left: 14px;
    margin-top:14px;
}
.five_pic{
    display: inline-block;
    width: 62px;
    height: 136px;
    float: right;
    text-align: center;
    margin-right: 10px;
    margin-top: 14px;
}
.five_pic img{
    width: 56px;
    height: 32px;
    cursor: pointer;
    display: inline-block;
    margin-top: 13px;
}
.five_pic img:first-child{
    margin-top: 0;
}
.five_pic .five_pic_active{
    border: 3px solid rgb(214,25,29);
}
.five_center p{
    margin-top: 6px;
    margin-left: 14px;
}
.five_footer{
    font-size: 12px;
    width: 300px;
    margin: 0 auto;
}
.five_footer li{
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    margin-top: 8px;
}
.five_span1{
    display: inline-block;
    width: 15px;
    height: 13px;
    background: url(../imgs/five_5.png);
    vertical-align: middle;
    line-height: 20px;
}
.five_span2{
    display: inline-block;
    width: 15px;
    height: 13px;
    background: url(../imgs/five_5.png) center -13px;
    vertical-align: middle;
    line-height: 20px;
}
.five_span3{
    color: rgb(223,223,223);
    margin-left: 5px;
    vertical-align: middle;
    line-height: 20px;
}
.five_a{
    color: rgb(69,69,69);
    margin-left: 5px;
    vertical-align: middle;
    line-height: 20px;
}
.five_a:hover{
    color: red;
}
.five_span4{
    color: rgb(153,153,153);
    float: right;
    vertical-align: middle;
    line-height: 20px;
}
/*six*/
.main_left_six{
    width: 350px;
    height: 330px;
    float: left;
    /*border: 1px solid rgb(219,219,219);*/
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.six_tab{
    position: absolute;
    z-index: 1;
}
.six_tab a{
    display: inline-block;
    width: 172px;
    height: 33px;
    border-radius: 10px 10px 0 0;
    line-height: 33px;
    border: 1px solid rgb(219,219,219);
    border-bottom: 0;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(254,254,254)), to(rgb(244,244,244)));
    /*margin-left: 22px;*/
    text-align: center;
}
.six_tab .active3{
    border-bottom: 1px solid white;
    background: white;
}
.six_center{
    width: 304px;
    margin: 0 auto;
    margin-top: 22px;
}
.six_index{
    width: 348px;
    height: 294px;
    border: 1px solid rgb(219,219,219);
    border-radius: 0 0 10px 10px;
    position: absolute;
    top:34px;
    left: 0;
    z-index: 0;
}
.six_footer{
    width: 304px;
    margin: 0 auto;
    margin-left: 26px;
    margin-top: 14px;
}
.six_footer a{
    color: black;
    font-size: 12px;
    font-family: "微软雅黑";
    width: 54px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    margin-left: -4px;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(250,250,250)), to(rgb(246,246,246)));
}
.b1{
    color: rgb(222,6,2);
}
.b2{
    color: rgb(0,51,153);
}
.b3{
    color: rgb(255,153,0);
}
.b4{
    color: rgb(144,48,119);
}
.six_span1{
    border-radius: 5px;
    border: 2px solid rgb(222,6,2);
}
.six_span2{
    border-radius: 5px;
    border: 2px solid rgb(0,51,153);
}
.six_span3{
    border-radius: 5px;
    border: 2px solid rgb(255,153,0);
}
.six_span4{
    border-radius: 5px;
    border: 2px solid rgb(144,48,119);
}
.six_span1:hover, .six_span1:hover .b1{
    color:white;
    background: rgb(222,6,2);
}
.six_span2:hover, .six_span2:hover .b2{
    color:white;
    background: rgb(0,51,153);
}
.six_span3:hover, .six_span3:hover .b3{
    color:white;
    background: rgb(255,153,0);
}
.six_span4:hover, .six_span4:hover .b4{
    color:white;
    background: rgb(144,48,119);
}
/*seven*/
.main_left_seven{
    width: 348px;
    height: 328px;
    float: left;
    border: 1px solid rgb(219,219,219);
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.seven_header{
    height: 40px;
    line-height: 40px;
}
.seven_left{
    margin-left: 12px;
}
.seven_right{
    margin-left: 226px;
    cursor: pointer;
}
.seven_index{
    width: 318px;
    margin: 0 auto;
    cursor: pointer;
}
.seven_index:hover{
    background: rgba(151,151,151,0.7);
}
.main_left_seven ul{
    width: 318px;
    margin: 0 auto;
    font-size: 12px;
}
.main_left_seven ul li{
    width: 318px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 3px;
}
.main_left_seven ul li:first-child{
    margin-top: 0;
}
.li_grey{
    background: rgb(241,241,241);
}
.li_white{
    background: rgb(248,248,248);
}
.seven_span1{
    font-weight: bold;
    color: rgb(216,0,0);
    margin-left: 8px;
}
.seven_span2{
    color: rgb(51,51,51);
    margin-left: 21px;
}
.seven_span3{
    color: rgb(102,102,102);
    margin-left: 85px;
}
.main_left_seven ul li:hover span{
    color: black;
}
/*nine*/
.main_left_nine{
    width: 348px;
    height: 298px;
    float: left;
    border: 1px solid rgb(219,219,219);
    margin-top: 10px;
    border-radius: 10px;
}
.nine_header{
    height: 40px;
    line-height: 40px;
}
.nine_left{
    margin-left: 12px;
}
.nine_right{
    margin-left: 102px;
    cursor: pointer;
}
.nine_center{
    width: 320px;
    height: 191px;
    margin: 0 auto;
    font-size: 12px;
    position: relative;
}
.nine_tab{
    position: absolute;
    left: 8px;
    z-index: 1;
}
.nine_tab>a span{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url(../imgs/two_2.png);
    margin-left: 5px;
}
.nine_tab a{
    width: 98px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    border-radius: 4px 4px 0 0;
    border: 1px solid rgb(219,219,219);
    border-bottom: 0;
    color: rgb(102,102,102);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(243,243,243)), to(rgb(255,255,255)));
}
.nine_tab .nine_tab_active{
    color: black;
    background: white;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.nine_tab>a .nine_span_active{
    background: url(../imgs/nav_15.png) center -9px;
}
.nine_index{
    border-top: 1px solid rgb(219,219,219);
    position: absolute;
    top: 25px;
    width: 318px;
}
.tab_title{
    width: 318px;
    height: 30px;
    line-height: 30px;
    color: rgb(153,153,153);
}
.nine_span1{
    margin-left: 114px;
}
.nine_span2{
    margin-left: 120px;
}
.nine_index ul{
    width: 313px;
    margin: 0 auto;
}
.nine_index li{
    width: 313px;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px dotted rgb(203,203,203);
}
.nine_index li:first-child{
    border-top: 1px dotted rgb(203,203,203);
}
.nine_index li a{
    font-size: 12px;
    color: rgb(51,51,51);
}
.nine_index li a:hover{
    color: red;
}
.span_right{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../imgs/nine_2.png) no-repeat;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
}
.span_flag{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../imgs/nine_2.png) no-repeat 0 -13px;
    float: right;
    margin-right: 20px;
    margin-top: 6px;
}
.nine_footer{
    width: 318px;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 66px;
}
.nine_footer span{
    font-size: 12px;
    /*color: rgb(51,51,51);*/
    font-weight: bold;
}
.nine_footer_span{
    color: rgb(89,89,89);
    vertical-align: middle;
    line-height: 66px;
    margin-left: 10px;
}
.nine_footer_text{
    width: 182px;
    height: 22px;
    vertical-align: middle;
    /*line-height: 66px;*/
}
.nine_footer_a{
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(../imgs/fourteen_2.png);
    vertical-align: middle;
    line-height: 66px;
    margin-left: 10px;
}
.nine_footer_a:hover{
    border-radius: 50%;
    box-shadow: 1px 1px grey;
}
/*ten*/
.main_left_ten{
    width: 348px;
    height: 298px;
    float: left;
    border: 1px solid rgb(219,219,219);
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.ten_header{
    height: 40px;
    line-height: 40px;
}
.ten_left{
    margin-left: 12px;
}
.ten_right{
    margin-left: 200px;
    cursor: pointer;
}
.ten_table{
    width: 318px;
    height: 240px;
    margin: 0 auto;
}
.ten_table tr{
    display: inline-block;
    margin-top: -5px;
}
.ten_table tr:first-child{
    margin-top: 0;
}
.ten_table img{
    cursor: pointer;
}
.ten_table td{
    position: relative;
}
.img_bg{
    width: 156px;
    height: 78px;
    background: url(../imgs/ten_13.png);
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    display: none;
}
.img_bg1{
    color: white;
    width: 78px;
    height: 78px;
    background: rgba(51,51,51,0.7);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    cursor: pointer;
    display: none;
    line-height: 16px;
}
.img_bg1 p{
    margin-top: 5px;
}
.ten_table td:hover div{
    display: block;
}
/*eleven*/
.main_left_eleven{
    width: 348px;
    height: 248px;
    float: left;
    border: 1px solid rgb(219,219,219);
    margin-top: 10px;
    border-radius: 10px;
}
.eleven_header{
    height: 40px;
    line-height: 40px;
}
.eleven_left{
    margin-left: 12px;
}
.eleven_center{
    width: 314px;
    height: 80px;
    margin: 0 auto;
    font-size: 12px;
    border-bottom: 1px solid rgb(219,219,219);
}
.eleven_p1{
    color: rgb(51,51,51);
    text-indent: 2em;
    line-height: 18px;
}
.eleven_p2{
    margin-top: 10px;
    height: 17px;
    vertical-align: middle;
    line-height: 18px;
}
.eleven_span1{
    height: 17px;
    display: inline-block;
    color: rgb(184,0,0);
    font-size: 16px;
    font-weight: bold;
    font-family: "微软雅黑";
    background: url(../imgs/eleven_2.png) no-repeat 0 0px;
    text-indent: 22px;
    line-height: 18px;
    vertical-align: middle;
    line-height: 18px;
}
.eleven_a1{
    font-family: "微软雅黑";
    height: 17px;
    display: inline-block;
    color: rgb(78,78,78);
    font-weight: bold;
    background: url(../imgs/eleven_2.png) no-repeat 0 -17px;
    text-indent: 24px;
    line-height: 18px;
    margin-left: 28px;
    vertical-align: middle;
    line-height: 18px;
}
.eleven_a1:hover{
    color: black;
}
.eleven_footer{
    font-size: 12px;
    width: 314px;
    margin: 0 auto;
    margin-top: 20px;
}
.eleven_footer a{
    color: rgb(41,41,41);
}
.eleven_footer a:hover{
    color: red;
    text-decoration: underline;
}
.eleven_footer_left{
    display: inline-block;
    margin-left: 10px;
}
.eleven_footer_right{
    display: inline-block;
    margin-left: 70px;
}
.eleven_footer p{
    margin-top: 6px;
}
.eleven_footer p:first-child{
    margin-top: 0;
}
.footer_title{
    color: black;
    font-weight: bold;
}
/*twelve*/
.main_left_twelve{
    width: 348px;
    height: 248px;
    float: left;
    border: 1px solid rgb(219,219,219);
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.twelve_header{
    height: 40px;
    line-height: 40px;
}
.twelve_left{
    margin-left: 12px;
}
.twelve_right{
    margin-left: 92px;
    cursor: pointer;
}
.twelve_center{
    width: 318px;
    margin: 0 auto;
}
.twelve_center li{
    width: 312px;
    height: 36px;
    margin-top: 8px;
}
.twelve_center a{
    color: rgb(51,51,51);
    font-size: 12px;
    display: inline-block;
}
.twelve_center a span{
    display: inline-block;
    width: 214px;
    margin-left: 8px;
}
.twelve_span1{
    float: right;
    margin-top: -3px;
    line-height: 20px;
}
.twelve_span2{
    float: right;
    margin-top: 16px;
}
.twelve_span3{
    float: right;
    margin-top: 10px;
}
.twelve_span4{
    float: right;
    margin-top: 10px;
}
.twelve_center a:hover span{
    text-decoration: underline;
    /*background: grey;*/
    color: blue;
}
/*main_right section*/
.main_right{
    float: left;
    width: 240px;
    margin-top: 10px;
    margin-left: 12px;
    margin-top: 10px;
}

/*thirteen*/
.main_right_thirteen{
    float: left;
    width: 238px;
    height: 138px;
    border: 1px solid rgb(219,219,219);
    border-radius: 10px;
    margin-top: -10px;
}
.thirteen_header{
    width: 238px;
    height: 34px;
    background: url(../imgs/thirteen_1.png);
    border-bottom: 1px solid rgb(219,219,219);
}
.thirteen_center{
    width: 216px;
    height: 58px;
    margin: 0 auto;
    border-bottom:1px solid rgb(242,242,242);
    font-size: 12px;
    color:rgb(89,89,89);
    margin-top: 16px;
}
.thirteen_center>div{
    margin-top: 5px;
    margin-left: 8px;
}
.thirteen_text{
    width: 89px;
    height: 19px;
    background: rgb(247,247,247);
    border: 1px solid rgb(229,229,229);
    margin-left: -9px;
}
.thirteen_checkbox{
    width: 12px;
    height: 12px;
    background: white;
    margin-right: 5px;
}
.thirteen_btn{
    width: 56px;
    height: 24px;
    color: white;
    font-weight: bold;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(242,0,0)), to(rgb(201,0,0)));
    border: 0;
    border-radius: 20px;
    box-shadow: 1px 2px rgb(193,193,193);
}
.thirteen_footer{
    height: 32px;
    font-size: 12px;
    color:rgb(89,89,89);
    line-height: 32px;
}
.thirteen_span{
    display: inline-block;
    width: 2px;
    height: 3px;
    background: rgb(217,0,0);
    margin-right: 3px;
    /*margin-top: -30px;*/
    margin-bottom:2px;
}
.thirteen_span1{
    margin-left: 30px;
    margin-right: 5px;
}
.thirteen_span2{
    margin-left: 40px;
    margin-right: 5px;
}
.thirteen_cursor{
    cursor: pointer;
}
.thirteen_cursor:hover{
    text-decoration: underline;
}
/*fourteen*/
.main_right_fourteen{
    float: left;
    width: 240px;
    height: 90px;
    background: url(../imgs/fourteen_1.png);
    position: relative;
    margin-top: 10px;
}
.main_right_fourteen a{
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(../imgs/fourteen_2.png);
    position: absolute;
    right: 25px;
    bottom: 10px;
}
.main_right_fourteen a:hover{
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: 1px solid skyblue;
}
/*fifteen*/
.main_right_fifteen{
    float: left;
    width: 240px;
    height: 180px;
    background: url(../imgs/fifteen_1.png);
    margin-top: 10px;
    cursor: pointer;
}
.main_right_fifteen:hover{
    width: 232px;
    height: 172px;
    border-radius:10px;
    border: 4px solid skyblue;
    background: url(../imgs/fifteen_1.png) center center;
}
/*sixteen*/
.main_right_sixteen{
    width: 238px;
    height: 238px;
    border: 1px solid rgb(219,219,219);
    border-radius: 10px;
    float: left;
    margin-top: 10px;
}
.sixteen_header{
    height: 40px;
    line-height: 40px;
}
.sixteen_left{
    margin-left: 12px;
}
.sixteen_right{
    margin-left: 64px;
    cursor: pointer;
}
.sixteen_center{
    width: 214px;
    margin: 0 auto;
    font-size: 12px;
    position: relative;
}
.sixteen_tab{
    width: 204px;
    margin: 0 auto;
    position: absolute;
    left: 5px;
    z-index: 1;
}
.sixteen_tab a{
    display: inline-block;
    text-align: center;
    width: 66px;
    height: 22px;
    line-height: 22px;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgb(219,219,219);
    border-bottom: 0;
    color: rgb(102,102,102);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(243,243,243)), to(rgb(255,255,255)));
}
.sixteen_tab span{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url(../imgs/two_2.png);
    margin-left: 5px;
}
.sixteen_tab .active2{
    color: black;
    font-weight: bold;
    border-bottom: 1px solid white;
    background: white;
}
.sixteen_tab .span_active2{
    background: url(../imgs/nav_15.png) center -9px;
}
.sixteen_index{
    color: rgb(51,51,51);
    border-top: 1px solid rgb(219,219,219);
    position: absolute;
    top: 23px;
    z-index: 0;
}
.list_title{
    color: rgb(153,153,153);
    height: 30px;
    line-height: 30px;
}
.title1{
    margin-left: 46px;
}
.title2{
    margin-left: 65px;
}
.title3{
    margin-left: 18px;
}
.sixteen_index li{
    width: 214px;
    height: 27px;
    border-top: 1px dotted rgb(153,153,153);
    line-height: 27px;
}
.sixteen_span1{
    color: rgb(216,0,0);
    margin-left: 50px;
}
.sixteen_span2{
    color: rgb(153,153,153);
    margin-left: 18px;
}
/*seventeen*/
.main_right_seventeen{
    width: 238px;
    height: 418px;
    border: 1px solid rgb(219,219,219);
    border-radius: 10px;
    float: left;
    margin-top: 10px;
}
.seventeen_header{
    height: 40px;
    line-height: 40px;
}
.seventeen_left{
    margin-left: 12px;
}
.seventeen_right{
    margin-left: 84px;
    cursor: pointer;
}
.seventeen_center{
    width: 214px;
    margin: 0 auto;
}
.seventeen_center li{
    width: 214px;
    height: 83px;
    border-bottom: 1px dotted rgb(203,203,203);
    margin-top: 10px;
    cursor: pointer;
}
.seventeen_center li:first-child{
    margin-top: 0px;
}
.seventeen_center li:hover{
    /*background: yellow;*/
    /*background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(203,203,203)));*/
    /*background:linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.0));*/
    background:linear-gradient(to left top,rgba(0,0,0,0.1),rgba(0,0,0,0.0));
    border-bottom: 1px solid yellow;
}
.seventeen_center li div{
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.seventeen_center li div p{
    font-size: 12px;
}
.seventeen_p1{
    color: rgb(184,0,0);
    margin-top: 8px;
}
.seventeen_p2{
    margin-top: 10px;
}
.seventeen_p3{
    margin-top: 4px;
}
.seventeen_span1{
    color: rgb(153,153,153);
}
.seventeen_span2{
    color: rgb(102,102,102);
}
/*eighteen*/
.main_right_eighteen{
    width: 238px;
    height: 178px;
    border: 1px solid rgb(219,219,219);
    border-radius: 10px;
    float: left;
    margin-top: 10px;
}
.eighteen_header{
    height: 40px;
    line-height: 40px;
}
.eighteen_left{
    margin-left: 12px;
}
.eighteen_right{
    margin-left: 52px;
    cursor: pointer;
}
.eighteen_center{
    font-size: 12px;
    cursor: pointer;
}
.eighteen_center:hover{
    /*background: pink;*/
    border: 1px solid purple;
    border-radius: 10px;
    height: 138px;
}
.eighteen_center img{
    display: block;
    margin: 0 auto;
}
.eighteen_center span{
    color: rgb(51,51,51);
    margin-left: 12px;
    margin-top: 8px;
    display: block;
}
/*nineteen*/
.main_right_nineteen{
    width: 238px;
    height: 348px;
    border: 1px solid rgb(219,219,219);
    border-radius: 10px;
    float: left;
    margin-top: 10px;
}
.nineteen_header{
    height: 40px;
    line-height: 40px;
}
.nineteen_left{
    margin-left: 12px;
}
.nineteen_right{
    margin-left: 96px;
    cursor: pointer;
}
.nineteen_text{
    width: 214px;
    height: 84px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 1px dotted rgb(203,203,203);
    border-top: 1px solid white;
}
.nineteen_text:hover{
    width: 214px;
    height: 82px;
    border: 3px solid skyblue;
    border-top: 1px solid skyblue;
    border-radius: 0 0 10px 10px;
}
.nineteen_text>div{
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.nineteen_p1{
    color: rgb(184,0,0);
    margin-top: 8px;
}
.nineteen_p2{
    margin-top: 10px;
}
.nineteen_p3{
    margin-top: 4px;
}
.nineteen_span1{
    color: rgb(153,153,153);
}
.nineteen_span2{
    color: rgb(102,102,102);
}
.nineteen_list{
    width: 208px;
    margin: 0 auto;
}
.nineteen_list li{
    width: 208px;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px dotted rgb(203,203,203);
}
.nineteen_list a{
    font-size: 12px;
    color: rgb(51,51,51);
}
.nineteen_list a:hover{
    color: red;
}
.nineteen_list li:last-child{
    border-bottom: 0;
}
.span_point{
    display: inline-block;
    width: 3px;
    height: 3px;
    background: rgb(217,0,0);
    margin-bottom: 3px;
    margin-right: 5px;
}
.span_red{
    color: rgb(199,93,97);
}
.span_grey{
    color: rgb(195,195,195);
}
/*twenty*/
.main_right_twenty{
    width: 238px;
    height: 368px;
    border: 1px solid rgb(219,219,219);
    border-radius: 10px;
    float: left;
    margin-top: 10px;
}
.twenty_header{
    height: 40px;
    line-height: 40px;
}
.twenty_left{
    margin-left: 12px;
}
.twenty_right{
    margin-left: 50px;
    cursor: pointer;
}
.twenty_text{
    width: 214px;
    height: 157px;
    border-bottom: 1px dotted rgb(203,203,203);
    margin: 0 auto;
    font-size: 12px;
}
.twenty_text img{
    padding: 2px;
    border: 1px solid rgb(219,219,219);
    cursor: pointer;
}
.twenty_text img:hover{
    padding: 0;
    border: 3px dotted black;
}
.twenty_text_left{
    display: inline-block;
}
.twenty_text_right{
    display: inline-block;
    margin-left: 6px;
}
.twenty_span1{
    margin-top: 8px;
}
.twenty_list{
    width: 208px;
    margin:  0 auto;
}
.twenty_list li{
    width: 208px;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px dotted rgb(203,203,203);
    font-size: 12px;
}
.twenty_list li a{
    color: rgb(51,51,51);
}
.twenty_list li a:hover{
    color: red;
}
.twenty_list li:last-child{
    border-bottom: 0;
}

/*footer section*/
#footer{
    width: 960px;
    height: 78px;
    border: 1px solid rgb(219,219,219);
    margin: 0 auto;
    border-radius: 10px;
    background: rgb(249,249,249);
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}
.footer_top{
    margin-top: 20px;
}
.footer_top a{
    color: rgb(69,69,69);
    font-size: 12px;
    margin-right: 8px;
}
.footer_top a:hover{
    text-decoration: underline;
}
.footer_bottom{
    margin-top: 12px;
    margin-left: 4px;
}
.footer_bottom span{
    color: rgb(118,118,118);
}
.span_margin{
    margin-left: 18px;
}
