*{margin: 0;padding: 0;}
body{
    width: 100%;
    min-width: 320px;
}
img{
    border: 0;
    vertical-align: top;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 44px;
    background: #c51920;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    /*justify-content: center;*/
    align-items: center;
}
.header img{
    margin-left: 7px;
    height: 24px;
}
.pic img{
    width: 100%;
}
.list{
    width: 100%;
    padding-top: 10px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.list a{
    display: inline-block;
    width: 25%;
    color: black;
    font-size: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
    padding-top: 5%;
}
.list a:nth-child(1), .list a:nth-child(5){
    border-left: 0px;
}
/*.container{
    width: 50%;
    padding-top: 50%;
    margin-left: 24%;
    background-size: 100%;
    padding-bottom: 8%;
}*/
.list .list1{
    width: 50%;
    padding-top: 50%;
    margin-left: 24%;
    background: url(../imgs/navicons.png)  no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
}
.list a:nth-child(1){
    padding-bottom: 2%;
}
.list .list2{
    width: 50%;
    padding-top: 50%;
    margin-left: 24%;
    background: url(../imgs/navicons.png) center 14% no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
}
.list a:nth-child(2){
    padding-bottom: 2%;
}
.list .list3{
    width: 50%;
    padding-top: 50%;
    margin-left: 24%;
    background: url(../imgs/navicons.png) center 28% no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
}
.list a:nth-child(3){
    padding-bottom: 2%;
}
.list .list4{
    width: 50%;
    padding-top: 50%;
    margin-left: 24%;
    background: url(../imgs/navicons.png) center 42% no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
}
.list a:nth-child(4){
    padding-bottom: 2%;
}
.list .list5{
    width: 50%;
    padding-top: 50%;
    margin-left: 24%;
    background: url(../imgs/navicons.png) center 56% no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
}
.list a:nth-child(5){
    padding-bottom: 2%;
}
.list .list6{
    width: 50%;
    padding-top: 50%;
    margin-left: 24%;
    background: url(../imgs/navicons.png) center 70% no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
}
.list a:nth-child(6){
    padding-bottom: 2%;
}
.list .list7{
    width: 50%;
    padding-top: 50%;
    margin-left: 24%;
    background: url(../imgs/navicons.png) center 84% no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
}
.list a:nth-child(7){
    padding-bottom: 2%;
}
.list .list8{
    width: 50%;
    padding-top: 50%;
    margin-left: 24%;
    background: url(../imgs/navicons.png) center 98% no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
}
.list a:nth-child(8){
    padding-bottom: 2%;
}
.img_one{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
}
.one_left{
    width: 50%;
}
.one_left img{
    width: 100%;
}
.one_right{
    width: 50%;
}
.one_right img{
    width: 100%;
}
.img_two{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
}
.two_left,.two_center,.two_right{
    width: 33.333333%;
}
.two_left img,.two_center img,.two_right img{
    width: 100%;
}
.footer{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.footer_left, .footer_right{
    width: 48%;
}
.footer_left img, .footer_right img{
    width: 100%;
}
@media (min-width:321px) and (max-width:768px){
    .list a{
        font-size: 16px;
    }
}
@media (min-width:768px) and (max-width:992px){
    .list a{
        font-size: 20px;
    }
}
@media (min-width:992px) and (max-width:1200px){
    .list a{
        font-size: 24px;
    }
}
@media (min-width:1200px){
    .list a{
        font-size: 30px;
    }
}
